body{
    background-size: cover;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}
button{
    background-color: aliceblue;
    border-radius: 70px;
    font-size: x-large;
    width: 250px;
}